body {
	background-color: #EEE;
	margin: 0 auto;
}
#container {
	margin: 0 auto;
	max-width: 20000px;
}
#logobox {
	text-align: right;
}
#infobox {
	background-color: #0b4e70;
	width: 100%;
	height: 200px;
}